{% extends 'main.html' %}

{% block content %}

<style>
    .login{
    background-color: #40250E;
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
    position: relative;
    left: 90px;
    bottom: 10px;
    }

    .header{
        margin-top:30px;
        margin-left: 90px;
    }
    .btn{
        margin-top: 10px;
    }
    .create{
        margin-top: -5px;
    }
</style>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<h2 class="header"> Please LogIn</h2>
<div class="login">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input class="btn btn-primary btn-medium" type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>
<p> Or create an account</p>
<a class="btn btn-primary btn-medium  create " href="{% url 'registration' %}"> Create Account </a>
</div>

{% endblock %}