{% extends 'main2.html'%}
      
    
    
{% block content%}
{% block title %} Order {% endblock title%}
<style>
    .order{
        position:relative;
        bottom: 15rem;
        margin-left: 67rem;
        
    }
    .header{
        margin-left: 2rem;
        margin-top: 3rem;
    }
</style>
{% if username %}
    <h2 class="header"> Welcome {{ currentuser }}</h2>
{% endif %}

<h2 class="header"> Please place your order </h2>
<form method="POST" action="">

{% for product in products %}
{% include "./fragments/product_card.html" %}

{% endfor %}
{% csrf_token %}

<input class="btn btn-primary btn-lg order"type="submit" value="Place Order">
</form>
{% endblock %} 