
{% extends 'main2.html' %}

{% block content%}

{% load static %} 


<style>
  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .info,.shipping{
    background-color: #40250E;
    color: white;
    border: 1px solid white;
  }
  .shipping{
    display: inline-block;
    padding: 15px;
    margin-top: 50px;
    position: relative;
    left: 800px;
    bottom: 10px;
  }
  p{
    margin: 0;
  }
</style>

<div class="container">
  <h1>Receipt</h1>

<h2>Order Number: {{order.id}}</h2>

<h2>{{order.date}}</h2>

<h2>{{order.status}}</h2>
<table class="info table table-sm text-center">
    <tr>
      <th>Product</th>
      <th>Date</th>
      <th>Status</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>{{item.product}}</td>
      <td>{{order.date}}</td>
      <td>{{order.status}}</td>
      <td>{{item.quantity}}</td>
      <td>${{item.get_total}}</td>
    </tr>
    {% endfor %}    
</table>
     
<h3>Total Price: ${{order.get_total}}</h3>
  
</div>  

<div class="shipping">
  
  <h6> Order Shipped To:</h6>
  {% if username %}

  <h6>Thank you {{order.addressee.first_name}}{{order.addressee.last_name}}</h6>
  <h6> Order Shipped To:</h6>
    <p>{{order.addressee.address}}</p>
    <p>{{order.addressee.city}}, {{order.addressee.state}}{{order.addressee.zipcode}}</p>
  {% else %}
    <h6>Thank you {{order.guest.first_name}} {{order.guest.last_name}}</h6>
    <p>{{order.guest.address}}</p>
    <p>{{order.guest.city}}, {{order.guest.state}} {{order.guest.zipcode}}</p>
  {% endif %}
  </div>   


 {% endblock %}       

       


    
        
   